.classeTitulo {font-weight: bold; font-size: 30px; margin-left: 450px;}
.classeTexto1 {font-weight: bold; font-size: 30px; margin-left: 450px;}
.classeTexto2 {font-weight: bold; font-size: 25px; margin-left: 450px;} 
.classeTexto3 {margin-left: 300px;}
.classeTexto4 {margin-left: 570px;}
.classeTexto5 {font-weight: bold; font-size: 28px; margin-left: 330px;}